* {
    border: 1px dotted black;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Epilogue", sans-serif;
}

.menu-item a {
text-decoration: none;
color: black;
}
.menu-item a:hover{
    color: grey;
}


/** HEADER */

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 26px auto;
}

.logo{
    font-size: 20px;
    font-weight: 600;
}

.navbar {
    display: none;
}

ul.main.menu {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: .5rem;
}

ul.main.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

@media (min-width: 768px) {
    .hamburguer-icon {
        display: none;
    }

    .navbar {
        display: block;
    }
}